@use 'variables';
@use 'mixins';

.jobModalOverlay {
    background-color: variables.$black;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 20;
    opacity: 2;
}
.jobModalWrapper {
    margin: 20px;
    background-color: variables.$white;
    @include mixins.border;
}
.jobModalContainer {
    width: 900px;
    height: 800px;
}

.jobModalHeader {
    padding: 10px;
    display: flex;
    .text {
        flex-grow: 1;
        h1, h2 {
            margin: 0px;
        }
        h1{
            margin-bottom: 10px;
        }
    }
    .icons {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

.jobInputPair{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    height: 50px;
    padding: 10px;
    label {
        font-weight: bolder;
    }
}

.jobInputNotes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-column: 1 / 4;
    grid-row: 4 / 8;
    justify-self: stretch;
    align-self: stretch;
    label {
        font-weight: bolder;
    }
    textarea {
        height: 100%;
        resize: none;
        overflow-y: scroll;
        padding: 10px;
    }
}

.upperFields {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(7, 70px);
    justify-items: start;

}