@use 'variables';

.jobContainer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: fit-content;
    padding: 0px 10px;
}

.jobIcon {
    padding: 0px 10px;
}

.jobText {
    padding: 0px 10px;
}


